{% extends 'base.html.twig' %}

{% block title %}Liste créneaux{% endblock %}

{% block body %}
    <h1>Liste créneaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Du</th>
                <th>Au</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a class="btn btn-warning m-2" href="{{ path('app_booking_show', {'id': booking.id}) }}">voir</a>
                    <a class="btn btn-warning m-2" href="{{ path('app_booking_edit', {'id': booking.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
