{% extends 'base.html.twig' %}

{% block title %}Créneau
{% endblock %}

{% block body %}
	<h1>Créneau</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Du</th>
				<td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Au</th>
				<td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ booking.title }}</td>
			</tr>
			<tr>
				<th>Marque</th>
				<td>{{ booking.vehicle.marque }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-warning" href="{{ path('app_booking_index') }}">retour à la liste</a>

	<a class="btn btn-warning" href="{{ path('app_booking_edit', {'id': booking.id}) }}">modifier</a>

	{{ include('booking/_delete_form.html.twig') }}

	<div class="container">
		<div class="row">
			<div class="mb-3 mx-auto">
				<div class="align-middle">
					<h1 class="text-center m-2">Comments</h1>
					<form class="form-idea form bg-warning rounded-3 p-3 shadow" method="post" action="#anchor">
						{{ form_start(form) }}
						<div class="text-center">
							{{ form_widget(form.content)}}
						</div>
						<div class="text-center">
							{{ form_row(form.submit) }}
						</div>
						{{ form_end(form) }}
					</form>
				</div>
			</div>
		</div>
	</div>

	{% for comment in booking.comments %}
		<div class="m-3 p-3 rounded bg-warning">
			<h3>From:
				{{ comment.author.prenom }}
				{{ comment.author.nom }}</h3>
			<p>{{ comment.content }}</p>
		</div>
	{% else %}
		No comments found.
	{% endfor %}

{% endblock %}
