{% extends 'base.html.twig' %}

{% block title %}Créneau
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3">Créneau</h1>

	<table class="table m-3">
		<thead>
			<tr>
				<th>Du</th>
				<th>Au</th>
				<th>Statut</th>
				<th>Marque</th>
				<th>Propriétaire</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>{{ booking.title }}</td>
				<td>{{ booking.vehicle.marque }}</td>
				<td>{{ booking.vehicle.owner.prenom }} {{ booking.vehicle.owner.nom }}</td>
			</tr>
		</tbody>
	</table>

	{% if is_granted('ROLE_OWNER') %}
		{% if app.user.id == booking.vehicle.owner.id %}
			<div class="d-flex justify-content-evenly">
				<a class="btn btn-warning ms-4 mt-3" href="{{ path('app_booking_edit', {'id': booking.id}) }}">modifier</a>

				{{ include('booking/_delete_form.html.twig') }}
			</div>
		{% endif %}
	{% endif %}
	

	<div class="container mt-3">
		<div class="row">
			<div class="mb-3 mx-auto">
				<div class="align-middle">
					<h1 class="text-center m-2">Echange</h1>
					<form class="form-idea form bg-warning rounded-3 p-3 shadow" method="post" action="#anchor">
						{{ form_start(form) }}
						<div class="text-center ">
							{{ form_widget(form.content)}}
						</div>
						<div class="text-center">
							{{ form_row(form.submit) }}
						</div>
						{{ form_end(form) }}
					</form>
				</div>
			</div>
		</div>
	</div>

	{% for comment in booking.comments %}
		<div class="m-3 p-3 rounded bg-warning">
			<h3>De:
				{{ comment.author.prenom }}
				{{ comment.author.nom }}</h3>
			<p>{{ comment.content }}</p>
		</div>
	{% else %}
		Pas d'échange trouvé
	{% endfor %}

{% endblock %}
